<!DOCTYPE html>
<html ng-app="angular-dragula-demo">

<head>
  <meta charset="utf-8" />
  <title>AngularJS Plunker</title>
  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body ng-controller="MainCtrl">

  <div class="containersdiv row" ng-repeat="containers in model" dragula='"model"' dragula-model="containers"
    dragula-scope="$parent">
    <div class="itemsdiv" ng-class="(item == 'profit') ? ['col-md-12'] : ['col-md-6']" ng-repeat="item in containers"
      dragula='"containers"' dragula-model="item" dragula-scope="$parent">
      <div class="itemdiv">{{item}}</div>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.min.js"></script>
  <script src="dragula.js"></script>
  <script src="app.js"></script>
</body>

</html>